h4,
h3,
h2 {
    margin: 0;
}

.list {
    list-style: none;
    display: flex;
margin-top:60px ;}

.listItem {
    text-align: left;
    margin: 5px;
}

.containerDetails {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
}

.poster {
    max-width: 500px;
    border-radius: 20px;
}

.containerGenres {
    display: flex;
    flex-direction: row;
}

.genre:not(:last-child):after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: auto 5px;
    transform: translateY(-50%);

}

.containerNav{
    display: flex;
    gap: 30px;
    font-size: 40px;

}
.link{
    color: rgb(216, 216, 216); 
    font-size: 27px;
}