.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #1a1919;
  border-radius: 20px;
  margin: 90px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.634);
}

.header {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}

.listItem {
  width: calc((100% - 60px) / 3);
}

.Link {
  color: rgb(211, 211, 211);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 500ms ease-in-out;
}

.Link:hover {
  transform: translateY(-5%);
}

.img {
  display: block;
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
}

@media (max-width: 750px) {
  .listItem {
    width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 500px) {
  .listItem {
    max-width: 200px;
  }
  .header {
    font-size: 19px;
  }
  .Link {
    font-size: 15px;
  }
}
