.castContainer {
    background-color: #fff;
    width: 400px;
    height: 350px;
    color: black;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
    padding: 40px;
}

.listItem {
    width: calc((100% - 40px) / 3);
    transition: transform 200ms ease-in-out;
    z-index: 1;
}

.containerActor {
    background-color: #242424;
    padding: 10px;
    width: 90%;
    margin: auto;
    border-radius: 20px;


}

.imgActor {
    width: 250px;
    border-radius: 20px;

}

.about {
    display: inline-block;
    width: 70%;
    margin: auto;
}

.listItem:hover,
.listItem:focus {
    transform: scale(1.05);
}